<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>sample</title>
    <script type="text/javascript" src="js/jquery-1.6.2.min.js" th:src="@{/js/jquery-1.6.2.min.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

<style>
    .dtable{
        display: table; /* ブロックレベル要素をtableと同じように表示にする */
    }
    .dtable_c{
        display: table-cell; /* ブロックレベル要素をtd(th)と同じように表示にする */
        border: 1px solid #00ffff;
    }
</style>

</head>
<body>
    <div id="page">
        <header>
            <div id="header_inner">
                <div id="header_logo">
                    <img src="https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6432837/picture_pc_9a06a019fe451a6c54a064d465d927c5.jpg">
                </div>
            </div>
        </header>
        <div id="main_image">
            <div id="main_image_inner">
                <h1>一覧</h1>
            </div>
        </div>
        <main>
            <div class="dtable">
                <div class="dtable_c">
                    一つ目のブロックレベル要素【勤怠】<br />
                    <div>
                    出勤日数：<input type="text" name="text" value="">日
                    </div>
                    <div>
                        実働時間：<input type="text" name="text" value="">時間
                    </div>
                    <div>
                            時間外労働：<input type="text" name="text" value="">時間
                    </div>
                </div>
                <div class="dtable_c">
                    二つ目のブロックレベル要素【支給】<br />
                    <div>
                        基本給：<input type="text" name="text" value="">円
                    </div>
                    <div>
                        職場外手当：<input type="text" name="text" value="">円
                    </div>
                    <div>
                        職能手当：<input type="text" name="text" value="">円
                    </div>
                    <div>
                        家族手当：<input type="text" name="text" value="">円
                    </div>
                    <div>
                        ﾗｲﾌﾌﾟﾗﾝ給：<input type="text" name="text" value="">円
                    </div>
                    <div>
                        通勤支給合計：<input type="text" name="text" value="">円
                    </div>
                </div>
                <div class="dtable_c">
                    三つ目のブロックレベル要素【控除】<br />
                    <div>
                        健康保険料：<input type="text" name="text" value="">円
                    </div>
                    <div>
                        厚生年金：<input type="text" name="text" value="">円
                    </div>
                    <div>
                        雇用保険：<input type="text" name="text" value="">円
                    </div>
                    <div>
                        所得税：<input type="text" name="text" value="">円
                    </div>
                    <div>
                        住民税：<input type="text" name="text" value="">円
                    </div>
                    <div>
                        その他：<input type="text" name="text" value="">円
                    </div>
                </div>
            </div>
            <div>
                総支給額：<input type="text" name="text" value="">円
                控除合計：<input type="text" name="text" value="">円
                差引支給額：<input type="text" name="text" value="">円
                総支給額累計：<input type="text" name="text" value="">円
            </div>

            <button type="button" id="impBtn" name="import" value="import">PDF取込</button>
            <button type="button" id="saveBtn" name="save" value="aaa">登録</button>

        </main>
        <footer>
            <button type="button" id="prevBtn" name="aaa" value="aaa">前に戻る</button>
        </footer>
    </div>
</body>
</html>


<script>
  $(function(){

    // ボタンクリック
    $('#prevBtn').click(function(){
        window.location.href = 'view.html';
    });

    $('#saveBtn').click(function(){
        window.location.href = 'save.html';
    });


  });    
</script>

